* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: lightblue;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: black;
}

main {
    flex: 1 0 0;
}

header.sticky {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background: gray;
}

header .logo {
    position: relative;
    font-weight: 700;
    color: #000;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 1s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: blueviolet;
    letter-spacing: 2px;
    font-weight: 600;
    transition: 1s;
}
a:hover {
    color: white;
    transition: .5s;

}
.bannner {
    position: relative;
    width: 100%;
    height: 100vh;
}

header .logo,
header.sticky ul li a {
    color: blueviolet;
}

#container {
    top: 40px;
    padding: 20px 20px;
}